/**整体框架个性化设置start**/

    #main-navbar .navbar-form,#main-navbar .navbar-nav {
        width:440px!important;
        margin-right: calc(100% - 100vw);
    }
    #main-navbar  .navbar-nav .user-name-info{
        display: block;
        width: 65px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: right;
    }
#main-navbar .navbar-inner{overflow:visible}
#main-navbar .right{padding-right:5px}
.dropdown-menus>.active>a:before {
    content: "\f00c";
    font-family: FontAwesome;
    top: 2px;
}
.font-size-13{font-size:13px !important;}
.font-size-12{font-size:12px !important;}
.font-size-14{font-size:14px !important;}
.font-size-15{font-size:15px !important;}
#bodyrap{min-width:970px;/*overflow-x:auto*/}
#bodyrap #content-wrapper {
    padding:98px 7px 2px;
}

.dataTables_wrapper .DT-lf-right .DT-per-page {
    display: none
}

.theme-clean #main-menu #content-wrapper {
    padding: 53px 10px 18px
}

.ajax-loading-animation {
    font-size: 20px;
    margin-left: 10px;
}

.optionsBox .tabBar {
    margin-bottom:4px;
	padding-right:6px;
}


    .menu-on-top #content-wrapper {
        padding-top: 98px
    }

    .menu-on-top #main-menu {
        height: 46px
    }

    .menu-on-top #main-menu .navigation > li > ul {
        top: 44px
    }

    .menu-on-top #main-menu .navigation > li > a > span.mm-text {
        display: inline-block;
    }

    .menu-on-top #main-menu .navigation > li > a i {
        padding-right: 3px;
        width: auto;
        display: inline-block;
    }

    .menu-on-top #main-menu .navigation > li {
        width:auto !important;
        white-space:nowrap !important;
        border-left:0 !important;
        border-bottom:0 !important;
    }
    .menu-on-top #main-menu .navigation > li>a{line-height:46px;padding: 0 20px;border-bottom:none!important;}
    .menu-on-top #main-menu .navigation > li:last-child{border-bottom-right-radius: 5px}
    .menu-on-top #main-menu .navigation > li.mm-dropdown > a:after {
        top: 28px !important
    }

    .menu-on-top #main-menu .navigation > li *:not(span) {
        background: #fafafb !important
    }

    .menu-on-top #main-menu .navigation > li *:not(span):hover {
        background:#fff !important
    }

	.menu-on-top #main-menu .navigation > li .menu-icon{background:none!important}
	.theme-clean #main-menu .mmc-dropdown-open-ul li.active>a,.theme-clean #main-menu .navigation li.active>a {
	color:#f58447!important;
}
	.menu-on-top #main-menu .navigation > li.active > a i{background:#fff !important;color:#f58447!important}
    #bodyrap.theme-clean.menu-on-top .btn-primary, #bodyrap.theme-clean.menu-on-top .btn-primary:focus, .theme-clean.menu-on-top .pagination > li.active > a, .theme-clean.menu-on-top .pagination > li.active > a:focus, .theme-clean.menu-on-top .pagination > li.active > a:hover, .theme-clean.menu-on-top .pagination > li.active > span {
        background: #369;
        border: #369 1px solid !important
    }
    #bodyrap.theme-clean.menu-on-top .btn-primary, #bodyrap.theme-clean.menu-on-top .btn-primary:focus,.theme-clean.menu-on-top .btn-primary, .theme-clean.menu-on-top .btn-primary:focus {
        border: 1px solid #369 !important;
    }

    #bodyrap.theme-clean.menu-on-top .btn-primary:hover {
        background: #2a4f85 !important;
    }
	    .menu-on-top #main-menu .navigation > li.active > a {
        background:#fff !important;
		color:#f58447!important;
		height:47px;
    }

    #bodyrap.theme-clean.menu-on-top #main-menu .mmc-dropdown-open-ul a:after, .theme-default #main-menu .navigation a:after {
        background: none
    }
    .optionsBox .tabBar .switchClass{padding:7px 15px;}
    #bodyrap.theme-asphalt .optionsBox .tabBar .switchClass.Current {
        background: #3BC2A9
    }

    #bodyrap.theme-asphalt .optionsBox .tabBar .switchClass:hover {
        background: #52bdb4
    }

    #bodyrap.theme-purple-hills .optionsBox .tabBar .switchClass.Current {
        background: #857198
    }

    #bodyrap.theme-purple-hills .optionsBox .tabBar .switchClass:hover {
        background: #97819e
    }

    #bodyrap.theme-dust .optionsBox .tabBar .switchClass.Current {
        background: #7a6f6f
    }

    #bodyrap.theme-dust .optionsBox .tabBar .switchClass:hover {
        background: #8a6f6f
    }

    #bodyrap.theme-fresh .optionsBox .tabBar .switchClass.Current {
        background: #83ab36
    }

    #bodyrap.theme-fresh .optionsBox .tabBar .switchClass:hover {
        background: #79a02d
    }

    #bodyrap.theme-white .optionsBox .tabBar .switchClass.Current {
        background: #b9662b
    }

    #bodyrap.theme-white .optionsBox .tabBar .switchClass:hover {
        background: #985813
    }

.main-position-fixed.menu-on-top #demo-settings{top:46px}
.menu-on-top #demo-settings{margin-top:2px}
/**select2特有**/
#bodyrap .select2-results {
    margin: 5px;
}

/**标题**/
.panelNobr {
    background: #edf0f1;
    padding: 5px 10px;
    border-bottom: #ddd 1px solid;
}

.panel-content {
    padding: 10px;
}

/**整体框架个性化设置end**/

/*下拉菜单的样式*/
.operationbar .active_btn {
    color: #c00;
}

.operationbar span a:hover {
    color: #c00
}

.operationbar .btnDropDown:hover {
    color: #c00
}

.operationbar .btn-group {
    margin-top: -3px;
}

.operationbar .btn-group .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none
}

.operationbar .btn-group .btnDropDown,
.operationbar .btn-group.open .btnDropDown,
.operationbar .btn-group .btnDropDown:active {
    background: none;
    border: none;
    padding: 0 3px
}

/*end*/

.open > #downMenuSty {
    min-width: 85px
}

.title_sty {
    background: #f8fafe;
    padding: 6px 16px;
    font-weight: bold;
}

.bugBox {
    border: #eee 1px solid
}

.select_boxes {
    margin-top: 0
}

.infoContent {
    margin: 15px 0 10px 0;
    padding: 16px 6px;
    border: #eee 1px solid;
    position: relative;
    border-radius: 4px;
}

.pageleftpart .infoContent {
    margin-right: 15px;
}

.infoContent .RTtitle {
    position: absolute;
    z-index: 2;
    top: -12px;
    right: 10px;
    width: auto;
    background: #fff;

}
.infoContent img{max-width: 100%;height:auto;}
.infoContent .titleName {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: -11px;
    left: 15px;
    padding: 0 6px;
    background-color: #fff;
}

.infoContent ul li label {
    font-weight: normal;
    width: 24%;
    font-size: 12px;
}

.infoContent ul li .text-overflow {
    display: inline-block;
    width: 64%;
    vertical-align: top;
    font-size: 12px;
}

.infoContent ul li .text-overflow a {
    color: #333;
}

.infoContent ul li .text-overflow a:hover {
    color: #f90
}

.infoContent .Tinyfold .item h4 {
    background: #f8f8f8;
    font-size: 13px;
    font-weight: normal;
}

.shrinkage .edui-Box {
    margin-left: 6px;
}

.shrinkage .edui-Box .titleNames {
    display: block;
    margin-bottom: 6px;
    margin-left: 8px;
}

.adjustTable tbody tr th {
    width: 40%;
    text-align: right;
}

/*保存与返回按钮*/
.commitBtn {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color: #1a4f85;
    border: none;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
}

a.btn.btn-sm.backBtn, .backBtn {
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 14px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
}

/*新选项卡*/
.tab-pane .tabInfocontents {
    border: none;
    padding: 10px 6px;
    margin-top: 8px;
    margin-bottom: -8px;
}

.tabInfocontents .HuiTab .tabBar, .tabInfocontents .HuiTab .tabBar span {
    background: none;
    font-weight: normal;
    border-bottom: none
}

.tabInfocontents .HuiTab .tabBar span:hover {
    background: #f9fafe;
    color: #369
}

.tabInfocontents .HuiTab .tabBar span.Current {
    font-weight: bold;
    color: #333;
    border: #ddd 1px solid;
    background: #fff;
    border-bottom: none;
}

.tabInfocontents .HuiTab .tabBorder {
    border: #ddd 1px solid;
    padding: 12px 10px;
    margin-top: -1px;
}

/*访问控制*/
.hidden_namesty {
    margin-left: 17%
}

/*访问控制白名单*/
.label_title {
    width: 100px
}

/*org三级菜单格式*/
.barBoxs {
    padding-top: 18px;
    float: left
}

.barBoxs a, .barBoxs a:link {
    color: #333;
    margin-right: 3px;
    display: inline-block
}

.barBoxs a:hover {
    color: #f90
}

/*左上角的产品选择框样式*/
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: -5px;*/
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*表格有外边框，无内边框*/
.test .out-border {
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
}

.test .out-border th, .test .out-border td {
    border-left: none
}

.btn-danger {
    background: #bd362f !important;
    color: #fff;
}

.btn-danger:hover {
    background: #a90329 !important;
    color: #fff
}

/*表单外面加边框*/
.slaInfoBox {
    width: 32%;
    float: left;
    border: #ddd 1px solid;
    padding: 16px 0;
    margin-right: 1.2%;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*表格重置*/
.infoContent .table > tbody > tr > td, .infoContent .table > tbody > tr > th, .infoContent.table > thead > tr > td, .infoContent.table > thead > tr > th {
    border-top: none;
}

/*详情页排版，右侧typeinfo排版*/
.infoPage-left {
    width: 70%;
    float: left
}

.infoPage-right {
    width: 30%;
    float: right
}

.infoPage-right .infoContent th {
    width: 80px;
    vertical-align: middle;
    text-align: right;
}

.infoPage-right .infoContent table tr td {
    width: 200px;
}
/*左侧树 控制max*/
.togglebox .togglenavpart .treeLeftbox ul.ztree{background:#fff;}

.dropdown .dropdown-submenu .dropdown-menu{overflow-y: auto;overflow-x: hidden;max-height: 280px;}
.dropdown .dropdown-submenu .dropdown-show{overflow:visible}

#main-wrapper #main-menu #main-menu-inner {
    padding-top: 0;
}
#main-wrapper #main-menu .navigation>li:first-child{ border-top:0}

.togglenavpart .navtitle{height:43px;}

.theme-clean.menu-on-top #tinyfooter {
    margin-top: 32px;
}
/*FAQ问答页面*/
.questionBox{width: 75%;margin-left:auto;margin-right:auto}
.questionBox .questionInfo{border: #eee  1px solid;margin: 18px 0 15px 0;}
.infoContentbox{padding: 9px;}
.infoContentbox div{margin-bottom:6px;}
.questionInfo .Nametitle{background: #f6f6f6;color: #222;border-bottom: #eee 1px solid;padding: 8px; font-weight:bold}
.questionName,.answerName{display:inline-block;width:48px;float:left}
.contentInfolist{display:inline-block;}
/*客服模块*/
.slaEmptyInfo{font-size:20px;color: #666;padding: 12px 6px;margin-top: 6px;}

.slaEmptyInfo {
    margin-right: 6px;
    color: #F33;
    font-size: 24px;
}
/*搜索select*/
#task-search .active-disabled .form-control{padding:4px 0px;margin-bottom:3px}
/*表格边框*/
table.table.filelist-table{border:#ddd 1px solid;}
/*操作区 按钮重置*/
.form-inline .btn-success{ background-image:none}
.optionsBox .tabBar span{font-weight:normal}
.nowrap{white-space:nowrap}
/*附件 排版*/
.files-box{display:inline-block;margin-left:6px;margin-bottom:6px;padding:3px 8px;border:#dde 1px solid; background:#fbfbfc;border-radius:2px;}
.files-box a{color:#265F7B}
.files-box a:hover,.files-box:hover{color:#f90;background:#fefefe}

/*关于我们*/
.pic-avatar{border:none;background:none;padding:0;margin-bottom:10px}
.who-info .caption{padding:5px}
.who-info{background:#fcfcfc;border:#f1f1f1 1px solid;padding:4px 5px;height:325px;overflow:hidden;margin-bottom:10px}
.who-info:hover{background:#f8f4f9;}
.who-info .caption a{color:#333;}
.who_info .caption a:hover{color:#f90;}
/*底部*/
.tinyfooterrap a,.tinyfooterrap a:link,.tinyfooterrap a:visited{color:#ccb}
.tinyfooterrap a:hover{text-decoration:underline;color:#ffe}
.tinytable td{white-space: nowrap}

/*选择类型*/
.skin-minimal .check-box{padding-left:6px;}

/*关于我们*/
.title-name{border-bottom:#eed 1px solid;padding:18px 0 14px;font-size:25px;margin-bottom:12px;}
.us-info{border:#ddd 1px solid;border-left:#1b809e 2px solid;background:#f9f9fc;color:#555;padding:16px 12px;font-size:14px;}
.pic-info{margin-top:12px;}
.pic-info .info-item{float:left;list-style:none;border:#eee 1px solid; margin:0 8px 16px 8px;}
.pic-info .info-item a,.pic-info .info-item a:link,.info-item a:visited{ text-decoration:none;display:block;width:202px;height:50px;line-height:30px;background:#f9f9fc;color:#869;padding:12px;font-size:14px;}
.pic-info .info-item:hover,.pic-info .info-item:hover a{background:#6e3671; color:#fff}
.pic-info .title-info{font-size:20px;color:#666;width:100%; text-align:center;margin:18px 0 16px;}
.pic-info .icon-pic{float:right;font-size:19px;color:#869;margin-top:2px;}
.pic-info .info-item a:hover .icon-pic{color:#fff;}

.icon-margin{margin-right:2px;font-size:20px;}

/*/!*quality*!/
.operationbar .active_btn:hover{background:none;}
.btn-group #Dropdown{background:none;border:none;padding:0 3px}
.open>#downMenuSty{min-width:80px}

.title_sty{background:#f8fafe; padding:6px 16px; font-weight:bold;}
.bugBox{border:#eee 1px solid}

.select_boxes{margin-top:0}
.infoContent{margin:18px 4px 10px 5px; padding:6px; border:#eee 1px solid;}
.infoContent .titleName{margin-top:-16px; margin-bottom:8px;font-weight:bold;font-size:13px;}
.infoContent ul li label{font-weight:normal; width:33%;font-size:12px;}
.infoContent ul li .text-overflow{display:inline-block; width:64%;vertical-align:top;font-size:12px;}
.infoContent ul li .text-overflow a{ color:#333;}
.infoContent ul li .text-overflow a:hover{color:#f90}
.infoContent .Tinyfold .item h4{background:#f8f8f8;font-size:13px;font-weight:normal;}
.shrinkage .edui-Box{margin-left:6px;}
.shrinkage .edui-Box .titleNames{display:block;margin-bottom:6px;margin-left:8px;}

.adjustTable tbody tr th{width:40%;text-align:right;}*/
.table th{white-space: nowrap}
.ztree li,.ztree li{overflow:visible}
.togglenavpart .treeLeftbox ul.ztree{height:auto}
.navtitle{white-space: nowrap}
.can-edit .ztree li a{padding-right:60px}
.can-edit .ztree li a:hover{padding-right:0;}
.tinytable i[class^="icon-"], .tinytable i[class*=" icon-"]{font-size:16px;margin-right:8px}
/*批量添加*/
.modal-body .input-group .form-control, .modal-body .input-group-btn{height:36px;padding:0 8px;font-size:13px;}
.operation-body{margin:7px 2px;}
/*底部链接*/
.tinyfooterrap a.right,.tinyfooterrap a.right:link,.tinyfooterrap a.right:visited{color:#fff; font-weight:normal}
.tinyfooterrap a.right:hover{ color:#ddd}

.diary-content-head{text-align:center;padding-top:16px;padding-bottom:18px;background:#fefefe;border-bottom:#ddd 1px dashed}
.diary-content-head h3{font-size:26px;line-height:30px}
.diary-content-head h3 .btn-circle{vertical-align:top;}
.diary-content-head .week-date{padding:4px 12px;background:#857198;display:inline-block;color:#fff;font-size:14px;border-radius:44px;}

.diarylist .diary-detail{padding:10px 12px;border-bottom:#eee 1px solid;background:#fefefe}
.diarylist .diary-detail:hover{background:#fff}
.diary-detail .diary-report .portrait{font-size:18px;padding-top:10px;}
.diary-detail .diary-info{display:inline-block;min-height:38px;position: relative;  width: 65%; font-size:15px;}

.diary-detail-list{background:#fafafb ;padding:20px;padding-bottom:10px;border-radius: 5px}
.committed{margin-bottom:20px;position:relative;}

.diary-detail .diary-detail-list ol {
    position: relative;
    height: 100%;
    margin-left:48px;
    padding-left:10px;
}
.diary-detail .tocommittime {
    width:56px;
    position:absolute;
    left:0;
    top:0;
    z-index:2
}
.diary-detail .dia_h_btn{cursor:pointer}
/*周报*/
.diary-info .btn-circle.btn-lg{padding:0;line-height:50px;}
.forall{margin-bottom:8px}
.forall .checkboxAll{color:#6e3671; font-weight:bold;border:none;background:none;margin-top:-3px}
.forall-box p{margin-bottom:3px;background:#fefefe;padding:3px 0;}
a:focus,button:focus,a:active,button:active{outline:0!important;}