
.operationbar {

    background: #f9fafe;
    padding: 6px 5px 6px 10px;
}

.operationbar a {
    padding: 2px 3px;
    display: inline-block;
    margin-right: 0;
    border-radius: 3px;
}

.operationbar a:hover {
    background: #ddd;
    color: #333;
}

.operationbar .active_btn:hover {
    background: none;
}

.btn-group #Dropdown {
    background: none;
    border: none;
    padding: 0 3px
}

.open > #downMenuSty {
    min-width: 70px
}

.title_sty {
    background: #f8fafe;
    padding: 6px 16px;
    font-weight: bold;
}

.bugBox {
    border: #eee 1px solid
}

.select_boxes {
    margin-top: 0
}

.infoContent {
    margin: 18px 4px 10px 5px;
    padding: 6px;
    border: #eee 1px solid;
    position: relative;
}

.infoContent .RTtitle {
    position: absolute;
    z-index: 2;
    top: -12px;
    right: 10px;
    width: auto;
    background: #fff;

}

.infoContent .titleName {
    margin-top: -16px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.infoContent ul li label {
    font-weight: normal;
    width: 33%;
    font-size: 12px;
}

.infoContent ul li .text-overflow {
    display: inline-block;
    width: 64%;
    vertical-align: top;
    font-size: 12px;
}

.infoContent ul li .text-overflow a {
    color: #333;
}

.infoContent ul li .text-overflow a:hover {
    color: #f90
}

.infoContent .Tinyfold .item h4 {
    background: #f8f8f8;
    font-size: 13px;
    font-weight: normal;
}

.shrinkage .edui-Box {
    margin-left: 6px;
}

.shrinkage .edui-Box .titleNames {
    display: block;
    margin-bottom: 6px;
    margin-left: 8px;
}

.adjustTable tbody tr th {
    width: 40%;
    text-align: right;
}

/*保存按钮及返回按钮样式*/
.commitBtn {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    background-color: #1a4f85;
    border: none;
    padding: 5px 14px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
}

.backBtn {
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 14px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    /*color: #fff;*/
}

/*input右边加上量词的样式，如sdpm-project-web/project/task/call.page中剩余时间中展示效果*/
.input-group-addon {
    width: 10px;
    font-size: 20px
}